<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/index.html" class="brand-wrap">
            <img src="/assets/images/demos/demo-2/logonew.png" style="width:150px;padding-bottom: 10px;" class="" alt="Evara Dashboard">
        </a>
       
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/add-product">Add Product</a>
                    <a href="/admin/view-products">view Product</a>
                   
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Users</span>
                </a>
                <div class="submenu">
                    <a href="/admin/viewusers">User Management</a>
               
        

                </div>
            </li>
            <!-- <li class="menu-item has-submenu">
                <a class="menu-link" href="../page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="../page-orders-1.html">Order list 1</a>
                    <a href="../page-orders-2.html">Order list 2</a>
                    <a href="../page-orders-detail.html">Order detail</a>
                </div>
            </li> -->
            <li class="menu-item has-submenu">
                <a class="menu-link" href="../page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                    <span class="text">Category Management</span>
                </a>
                <div class="submenu">
                    <a href="/admin/view-category">View Category</a>
                    <a href="/admin/add-category">Add Category</a>
     
                </div>
            </li>
             <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/orderview"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Order Management</span>
                </a>
                <div class="submenu">
                    <a href="/admin/orderview">view Orders</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/orderview"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">REPORT</span>
                </a>
                <div class="submenu">
                    <a href="/admin/sales-report">View Report</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href=""> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Coupon Management</span>
                </a>
                <div class="submenu">
                    <a href="/admin/add-coupon">Add Coupon </a>
                    <a href="/admin/view-coupons">View Coupons</a>
                </div>
                
            </li>
            
            
          
           
            
        </ul>
        <hr>
       
                
            
           
        </ul>
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar " style="flex-direction: row-reverse">
        
        <div class="col-nav">

            <ul class="nav ">
                
                <li class="nav-item">
                    <a class="nav-link btn darkmode " style="text-align: end;" href="/admin/logout"> Sign Out</a>
                </li>
                
                
                
            </ul>
        </div>
    </header>