<section>
    <div class="page-wrapper">
        <header class="header header-8">
            <div class="header-top">
                <div class="container">
                   

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: 8848668843</a></li>
                                    <!-- <li><a href="wishlist.html"><i class="icon-heart-o"></i>My Wishlist <span>(3)</span></a></li> -->
                                    <li><a href="/">About Us</a></li>
                                    <li><a href="/">Contact Us</a></li>
                                    <% if(locals.user) {%>
                                
                                    <li><a href="/logout">Logout</a></li>
                                    <% } else { %>
                                        <li><a href="/login">Login</a></li>
                                        <% }%>

                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <!-- <a href="index.html" class="logo">
                            <img src="assets/images/demos/demo-10/logo.png" alt="Molla Logo" width="105" height="25">
                        </a> -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <nav class="main-nav">
                            
                            
                
                            <ul class="menu sf-arrows">
                                <img src="assets/images/demos/demo-2/logonew.png" style="width:100px;padding-bottom: 10px;">
                                <li class="megamenu-container">
                                  
                                    <a href="/" class="">Home</a>

                                  
                                </li>
                                <li>
                                    <a href="/view-product" class="">Shop</a>

                                    
                                </li>
                                <li>
                                    <a href="/" class="">Product</a>

                                    
                                </li>
                                
                                <li>
                                    <%if(locals.user){%>
                                    <a href="/myaccount" class="sf-with-ul "><b><%=locals.name%></b></a>

                                    <ul>
                                        <li><a href="/myaccount"><b>>Profile</b> </a></li>
                                        <li><a href="/orderlist"> <b>>Orders </b>  </a></li>
                                        <%} else {%>
                                            <a href="/login" class=" "><b>Guest</b></a>
                                            <%}%>
                                            
                                       
                                     
                                    </ul>
                                </li>
                                <!-- <li>
                                    <a href="elements-list.html" class="sf-with-ul">Elements</a>

                                    <ul>
                                        <li><a href="elements-products.html">Products</a></li>
                                        <li><a href="elements-typography.html">Typography</a></li>
                                        <li><a href="elements-titles.html">Titles</a></li>
                                        <li><a href="elements-banners.html">Banners</a></li>
                                        <li><a href="elements-product-category.html">Product Category</a></li>
                                        <li><a href="elements-video-banners.html">Video Banners</a></li>
                                        <li><a href="elements-buttons.html">Buttons</a></li>
                                        <li><a href="elements-accordions.html">Accordions</a></li>
                                        <li><a href="elements-tabs.html">Tabs</a></li>
                                        <li><a href="elements-testimonials.html">Testimonials</a></li>
                                        <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                        <li><a href="elements-portfolio.html">Portfolio</a></li>
                                        <li><a href="elements-cta.html">Call to Action</a></li>
                                        <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                                    </ul>
                                </li> -->
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <div class="d-flex align-items-center">
                            <form class="form-inline" action="/productSrch/?search" method="get">
                                <div class="d-flex">
                                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search"
                                    aria-label="search">
                                <button class="btn btn-outline-success btn-sm my-2 my-sm-0 ms-2" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                        
                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count" id="cart-countId"><%= locals.cartCount %></span>
                              
                    
                            </a>

                           
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->
    </section>