<style>
    body {
        background-image: url('/images/page-header-bg.jpg')
    }
    .main {
        width: 100%;
        height: 1000px;
    }
    .payment {
        border: 1px solid #f2f2f2;
        height: 280px;
        border-radius: 20px;
        background: #fff;
    }
    .payment_header {
        background:rgb(108,184,88);
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
    }
    .check {
        margin: 0px auto;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #fff;
        text-align: center;
    }
    .check i {
        vertical-align: middle;
        line-height: 50px;
        font-size: 30px;
    }
    .content {
        text-align: center;
    }
    .content h1 {
        font-size: 25px;
        padding-top: 25px;
    }
    .content a {
        width: 200px;
        height: 35px;
        color: #fff;
        border-radius: 30px;
        padding: 5px 10px;
        background: rgb(108,184,88);
        transition: all ease-in-out 0.3s;
    }
    .content a:hover {
        text-decoration: none;
        background: #000;
    }
</style>

<section>
    <div class="main mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto mt-5">
                    <div class="payment">
                        <div class="payment_header">
                            <div class="check"><i class="ri-check-line mx-2 text-success" style="font-size: xx-large; "></i></div>
                        </div>
                        <div class="content">
                            <h1>Address Added Successfully!</h1>
                            
                            
                            <div class="mt-1"><a href="/">Go to Payment Gateway</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>