<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->
                <form action="#" id="check-out">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" name="firstname" required  >
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" name="lastname" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                              

                                <label>Country *</label>
                                <input type="text" class="form-control"name="country" required>

                                <label>Street address *</label>
                                <input type="text" class="form-control" placeholder="House number and Street name" name="address" required>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Town / City *</label>
                                        <input type="text" class="form-control" name="town" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>State / County *</label>
                                        <input type="text" class="form-control" name="country" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Postcode / ZIP *</label>
                                        <input type="text" class="form-control" name="pincode" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Phone *</label>
                                        <input type="tel" class="form-control" name="phoneno" required>
                                   
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                

                               
                                

                               
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                               
                                <table class="table table-summary">
                                    
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                            
                                        </tr>
                                    </thead>
                                    <%  cartItems.forEach(products => { %>
                                    <tbody>
                                        
                                        <tr>
                                            <td><a href="#"><%=products.product.title%></a></td>
                                            <td><%=products.total%></td>
                                        </tr>

                                      
                                       
                                        <% }) %>
                                       
                                        <tr class="summary-total">
                                            <th>Total</th>
                                            <td><%=Total[0].total%></td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                   
                                </table><!-- End .table table-summary -->
                              

                                <div class="accordion-summary" id="accordion-payment">
                                
                                    

                                    

                                <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <label class="radio-inline">
                                                <input type="radio" name="paymentmethod" value ="cod">Cash On Delivery
                                            </label>
                                            
                                        
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <label class="radio-inline">
                                            <input type="radio" name="paymentmethod" value ="online">Online Payment
                                        </label>
                                            
                                        </div><!-- End .card-header -->
                                        
                                    </div><!-- End .card -->

                                  
                                     
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<script>
    $("#check-out").submit((e)=>
    {
        e.preventDefault()
        $.ajax({
            url:'/placeorder-submit',
            method:'post',
            data:$('#check-out').serialize(),
            success:(response)=>
            {
             alert('ORDER SUCCESSFULLY PLACED')
             if(response.status)
             {
                location.href='/ordersuccess'
             }
            }
        })
    })
</script>